<p style="color: green"><%= notice %></p>

<h1>My Friends</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Bio</th>
    </tr>
  </thead>
  <tbody>
    
    <% @friends.each do |friend| %>
    <tr>
      <th scope="row">1</th>
      <td><%= friend.username %></td>
      <td><%= friend.email %></td>
      <td><%= friend.bio %></td>
      <td><%= link_to "See profile", friend, class:"btn btn-outline-secondary" %></td>
    </tr>
      
    <% end %>
  </tbody>
</table>



<%= link_to "New friend", new_friend_path, class:"btn btn-dark"%>

